@keyframes fade 
{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInUp {
    0% { opacity: 0; -webkit-transform: translateY(36px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fadeInDown {
    0% { opacity: 0; -webkit-transform: translateY(-36px); }
    100% { opacity: 1; -webkit-transform: translateY(0); }
}

@keyframes fadeInLeft {
    0% { opacity: 0; -webkit-transform: translateX(-36px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}

@keyframes fadeInRight {
    0% { opacity: 0; -webkit-transform: translateX(36px); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}

@keyframes fadedZoomIn {
    0% { opacity: 0; -webkit-transform: scale(0); }
    100% { opacity: 1; -webkit-transform: scale(1); }
}

@keyframes fadedZoomOut {
    0% { opacity: 1; -webkit-transform: scale(1); }
    100% { opacity: 0; -webkit-transform: scale(0); }
}